/**/
.cinza{
    background-color: rgb(129, 131, 133);
    color: black;
}
/**/
.verde{
    background-color: #A6EB9A;
    color: #2A6218;
}
/**/
.amarelo{
    background-color: #FFFFE3;
    color: #C3884B;
}